<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <meta name="description" content="blog jeu game projet project Nemo N3m0 programmation developpement dev programming developement c c++ game dev graphics graphique vim linux">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" href="//index.xml" title="n3m0">
  </head>
  <body>
    {{ block "header" . }}
    {{ partial "header" . }}
    {{ end }}

    <main>
      {{ block "main" . }}
      <p>content not found.</p>
      <a href="/">return to main menu.</a>
      {{ end }}
    </main>

    {{ block "footer" . }}
    {{ partial "footer" . }}
    {{ end }}
  </body>
</html>
