{{ $notlang := (replace (partial "otherlang.html" .) "\n" "") }}
<header>
  <img src="/img/logo.png" alt="logo"></img>
  <menu>
    <a href="/{{ .Site.Language }}">{{ i18n "home" }}</a>
    <a href="/{{ .Site.Language }}/portfolio">Portfolio</a>
    <a href="/{{ .Site.Language }}/project">{{ i18n "project" }}</a>
    <a href="/{{ .Site.Language }}/game">{{ i18n "game" }}</a>
    <a href="/{{ .Site.Language }}/blog">Blog</a>
    <a href="/{{ .Site.Language }}/about">{{ i18n "about" }}</a>
  </menu>
  <a href='/{{ $notlang }}{{ substr .RelPermalink 3 }}'>{{ $notlang }}</a>
</header>
<hr>
