{{ if or (strings.Contains .RelPermalink "blog") (strings.Contains .RelPermalink "tags") }}
<hr>
<h2>{{ i18n "listtag" }}</h2>
<section>
{{ range $.Site.Taxonomies.tags.ByCount }}
<var>
  <span>{{ .Count }}</span>
  <a href="/{{ $.Site.Language }}/tags/{{ .Name }}">{{ .Name }}</a>
</var>
{{end}}
</section>
<hr>
{{end}}
{{ if or (strings.Contains .RelPermalink "game") (strings.Contains .RelPermalink "themes") }}
<hr>
<h3>{{ i18n "listtheme" }}</h3>
<section>
{{ range $.Site.Taxonomies.themes.ByCount }}
<var>
  <span>{{ .Count }}</span>
  <a href="/{{ $.Site.Language }}/themes/{{ .Name }}">{{ .Name }}</a>
</var>
{{end}}
</section>
<hr>
{{end}}
{{ if or (strings.Contains .RelPermalink "project") (strings.Contains .RelPermalink "categories") }}
<hr>
<h3>{{ i18n "listcategorie" }}</h3>
<section>
{{ range $.Site.Taxonomies.categories.ByCount }}
<var>
  <span>{{ .Count }}</span>
  <a href="/{{ $.Site.Language }}/categories/{{ .Name }}">{{ .Name }}</a>
</var>
{{end}}
</section>
<hr>
{{end}}
